/* 
    Document   : chat
    Created on : 25-nov-2013, 4:34:37
    Author     : guillermo
    Description:
        Purpose of the stylesheet follows.
*/

.tab-content.chat {
padding:10px;
border:1px solid #ddd;
border-bottom:0px;
}
.nav-tabs.chat {
border-bottom: 0px;
border-top: 1px solid #ddd;
}
.nav-tabs.chat > li {
margin-bottom:0;
margin-top:-1px;
}

.nav-tabs.chat > li > a {
padding-top: 8px;
padding-bottom: 8px;
line-height: 20px;
border: 1px solid transparent;
-moz-border-radius:0px;
-webkit-border-radius:0px;
border-radius:0px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.nav-tabs.chat > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
color: #555555;
cursor: default;
background-color: #ffffff;
border: 1px solid #ddd;
border-top-color: transparent;
}

CSS:

.conversacion {
    width: 100%;
    text-align: center;
    display:inline-block;

}

.bubble{
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    word-break: break-all;
  margin-left:89px;
  margin-right:89px;
  margin-top:10px;
  margin-bottom:10px;
}

.bubble_row {
  position: relative;
}

.bubble::before {
    background-color: #FFFFFF;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;

}

.me {
    float: center;   
    text-align: left;   
}

.me_icon {
    position: absolute;
      left: 0;
  top: 0;
    margin: 5px 10px 5px 5px;
    text-align: left;    
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.you {
    float: center;    
    text-align: left;          
}

.you_icon {
  position: absolute;
  right: 0;
  top: 0;
    margin: 5px 10px 5px 5px;
    text-align: right;          
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;   
}

