.com_cabezal{
    border-bottom-style:solid;
    border-bottom-width: 1px;
}

div.comment img{
    float: left;
}

div.comment em{
    padding-left: 5em;
}

ul,li{
    list-style: none;
}

ul.nested-comments li{
    /* agrega el espacio de identado, hay espacio adicional que no estoy seguro de donde viene*/
    margin-left: 0.5em; 
}

ul.nested-comments li ul {
    border-top: 1px solid #ccc;
    border-left: 1px solid #999;
    border-bottom: 1px solid #ddd;
    position: relative;
}

div.comment {
    background: #eeeeff;

    padding: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0em;
}

.thumbnails80{
    max-height:80px;
    max-width:80px;
}

.com_texto{
    min-height: 60px;
}
