body {
    padding-bottom: 40px;
    padding-top: 60px;
}

.w160{
    min-width: 160px;
    max-width: 160px;
}

.w160 .thumbnail{
     padding-top: 15px;
     min-height: 300px;
}

.thumbnails140{
    max-height:140px;
    max-width:140px;
}



.thumbnails380{
    max-height:380px;
    max-width:380px;
}

.bordeTransp{
    border: none;
    border-style: none;
    background-color: white;
}

